Repository ansys/pystk, pull requests merged in 2025-08, with the labels that each got.

#789 fix(readme): update codecov badge
  README.rst
  doc/source/changelog/789.fixed.md
Labels: fix

#791 docs: tweak migration guide
  doc/source/changelog/791.documentation.md
  doc/source/user-guide/migration.rst
Labels: docs

#792 fix(doc): include wheelhouse artifacts in releases
  .github/workflows/ci_cd_release.yml
  doc/source/changelog/792.fixed.md
Labels: ci, fix
